{% load static i18n %}
{% load custom_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css">
 

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Bashak</title>
</head>
<body>

    <header>
        <nav class="scrolling2">
            <div class="navbar">
                <div class="logo change-logo">
                  <a href="{% url 'core:index' %}"><img src="{% static 'svg/logo2.svg' %}" alt=""></a>  
                </div>

                    <div class="navbar-list nav-list " id="navv">
                       <ul>
                           <li>
                            <div class="drop-btn list list-color">
                                <div class="c drop-one-1 black" data-sub="item1">  {% trans "Haqqımızda" %}  
                                    <span class="drop-down change-icon"><img src="{% static 'svg/arrow-black.svg' %}" alt=""></span>
                                </div>
                            </div>
                           </li>
                        
                       </ul> 
                       
                       <ul>
                           <li>
                                <div class="drop-btn open-list list list-color">
                                    <div class="c drop-one-1 black"  data-sub="item2">{% trans "Bizneslər" %}
                                        <span class="drop-down change-icon"><img src="{% static 'svg/arrow-black.svg' %}" alt=""></span>
                                    </div>
                                </div>
                           </li>   
                       </ul>
                        
                       <ul>
                           <li>
                                <div class="drop-btn list list-color black">
                                    <a href="{% url 'core:innovations' %}">{% trans "Yeniliklər" %}</a>
                                </div>
                           </li>
                       </ul>
                        
                        <ul>
                            <li>
                                <div class="drop-btn list list-color black">
                                    <a href="{% url 'core:career' %}">{% trans "Karyera" %}</a>
                                </div>
                            </li>
                            
                        </ul>
                        
                        <ul>
                            <li>
                                <div class="drop-btn list list-color black">
                                    <a href="{% url 'core:contact' %}">{% trans "Əlaqə" %}</a>
                                </div>
                            </li>
                            
                        </ul>
                        
                
                        <div class="submenu wrapper" id="item1">
                            <ul class="menu-bar">
                                <div class="menu-one"> 
                                    <div class="list-area">
                                        <div class="change-img">
                                            {% header_categories as context %}
                                            {% for s in context.korporativcategory %}
                                            <div class="card3" data-bg="{{s.image.url}}">
                                                {% if s.title == "Şirkət tarixçəsi" or s.title == "Company history" or s.title == "История компании"  %}
                                                <a href="{% url 'core:korporative' %}#history">{{s.title}}</a>
                                                {% elif s.title == "Komandamız" or s.title == "Our team" or s.title == "История компании" %}                                                
                                                <a href="{% url 'core:korporative' %}#leadership">{{s.title}}</a>
                                                {% elif s.title == "Missiyamız" or s.title == "Our mission" or s.title == "Наша миссия" %}
                                                <a href="{% url 'core:korporative' %}#ourmission">{{s.title}}</a>
                                                {% endif %}
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <div class="corporative">
                                            <h4>{% trans "Haqqımızda" %}</h4>
                                            <p>{% trans "Keyfiyyət təkcə bizim standartımız deyil. Bu, həm də şirkətimizə aşılanmış bir münasibətdir." %}</p>
                                        </div>
                                    </div>
                                
                                    <div class="img-box3">
                                       
                                    </div>
                                </div>
                            </ul>
                        </div>


                        <div class="submenu wrapper2" id="item2">
                            <div class="menu-bar2">
                                <div class="menu-one"> 
                                    <div class="list-area">
                                        <div class="change-img">
                                        {% header_category as context%}

                                            {% for i in context %}

                                            <div class="card2" data-bg="{{i.sector_image.url}}">
                                                <a href="{{i.get_absolute_url}}">{{i.title}}</a>
                                            </div>
                                            {% endfor %}

                                           
                                        </div>

                                        <div class="corporative">
                                            <h4>{% trans "Bizneslər " %}</h4>
                                            <p>{% trans "İllərdir sübut olunmuş təcrübə ilə bu gün İnşaat, Təchizat və Dam örtükləri sahələrində fəaliyyət göstəririk." %}</p>
                                        </div>
                                    </div>
                                
                                    <div class="img-box">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="menu bar">
                        <span class="menu-global menu-global-black menu-top"></span>
                        <span class="menu-global  menu-global-black menu-middle"></span>
                        <span class="menu-global  menu-global-black menu-bottom"></span>
                      </div>

                    <div class="lang  change-lang-color">
                        <li class="button-dropdown">
                            <div class="lang">
                            <form action="{% url 'set_language' %}" method="post">  {#2#}

                                {% csrf_token %}  {#3#}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                <input name="language" type="hidden" value="{{ language.code }}" />
                                <select name="language" class="lng" style="background:none; border:none; color:black;">  {#4#}
                                    {% get_current_language as LANGUAGE_CODE %}  {#5#}
                                    {% get_available_languages as LANGUAGES %}  {#6#}
                                    {% get_language_info_list for LANGUAGES as languages %}  {#7#}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>  {#8#}
                                            {{ language.local }} {{ language.code }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        </li>
                    </div>
              
            </div>
        </nav>
  
    </header>
    
    <section class="career">
        <div class="my-container">
            <div class="career-title">
               <div class="title-of-career">{% trans "Gəlin birlikdə böyük" %} <br> {% trans "işlər görək" %}!</div> 

                <a href="#joinus">
                   <div class="join-us"> <p>{% trans "Bizə qoşulun" %}</p>  <img src="{% static 'svg/join.svg' %}" alt=""></div>
                </a>
            </div>
        </div>
    </section>

    <section class="value background-color-g">
        <div class="my-container">
            <div class="value-title">
                <h1>{% trans "Başak Group dəyərləri" %}</h1>
                <p>{% trans "Bu gün özümüz üçün müəyyən etdiyimiz dəyərlər səyahətimizi daha zövqlü edəcək və həyatımıza mənalı bir məqsəd qatacaq." %}</p>
            </div>

            <div class="value-card-area">
                <div class="value-card">
                    <div class="value-img">
                        <img src="{% static 'svg/v1.svg' %}" alt="">

                        <p class="value-p">{% trans "Həlledici" %}</p>
                    </div>
                    
                   
                    <div class="value-card-content">
                        <div class="card__button">
                            <p>{% trans "Hər şeydən öncə müştəri ilə əla müştəri təcrübəsi yaratmaq üçün qərarlı olun." %}</p>
                        </div>
                    </div>
                  </div>

                  <div class="value-card">
                    <div class="value-img">
                        <img src="{% static 'svg/v2.svg' %}" alt="">

                        <p class="value-p">{% trans "Empatiya" %}</p>
                    </div>
                    
                   
                    <div class="value-card-content">
                        <div class="card__button">
                            <p>{% trans "Menecerlər heyətin üzləşdiyi şəxsi problemləri başa düşməlidirlər." %}</p>
                        </div>
                    </div>
                  </div>

                  <div class="value-card">
                    <div class="value-img">
                        <img src="{% static 'svg/v3.svg' %}" alt="">

                        <p class="value-p">{% trans "Qənaət" %}</p>
                    </div>
                    
                   
                    <div class="value-card-content">
                        <div class="card__button">
                            <p>{% trans "Şirkətin pulunu öz pulunuzu xərclədiyiniz şəkildə xərcləyin." %}</p>
                        </div>
                    </div>
                  </div>

                  <div class="value-card">
                    <div class="value-img">
                        <img src="{% static 'svg/v4.svg' %}" alt="">

                        <p class="value-p">{% trans "Yenilikçi" %}</p>
                    </div>
                    
                   
                    <div class="value-card-content">
                        <div class="card__button">
                            <p>{% trans "Bu, daha böyük dəyişikliklər gətirmək deyil, həm də hər hansı bir prosesin təkmilləşdirilməsi, xərclərin azaldılması və müştəri təcrübəsi yaratmaqdır." %}
                            </p>
                        </div>
                    </div>
                  </div>

                  <div class="value-card">
                    <div class="value-img">
                        <img src="{% static 'svg/v5.svg' %}" alt="">

                        <p class="value-p">{% trans "Etibarlı" %}</p>
                    </div>
                    
                   
                    <div class="value-card-content">
                        <div class="card__button">
                            <p>{% trans "Öhdəliyinizə əməl edin. Həmkarlarınıza qarşı dürüst və açıq olun." %}
                            </p>
                        </div>
                    </div>
                  </div>

                  <div class="value-card">
                    <div class="value-img">
                        <img src="{% static 'svg/v6.svg' %}" alt="">

                        <p class="value-p">{% trans "Mükəmməl Müştəri xidməti" %}</p>
                    </div>
                    
                   
                    <div class="value-card-content">
                        <div class="card__button">
                            <p>{% trans "Müştərini daha yaxşı başa düşün." %}</p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <section class="vacancy" id="joinus">
        <div class="my-container">
            <div class="value-title">
                <h1>{% trans "Aktual vakansiyalar" %}</h1>
                <p>{% trans "Biz həmişə missiyamıza qoşulmaq üçün böyük insanları axtarırıq. Hekayəmizin bir hissəsi olmaq istəyirsinizsə, bu gün müraciət edin." %}</p>
            </div>

            <div class="vacancy-box-area">
                {% for career in career_list %}
                <div class="vacancy-box">
                    <div class="vacancy-box-content">
                        <h4>{{career.position}}</h4>
                        <a href="{{career.get_absolute_url}}"><p>{% trans "Müraciət et" %}</p> <img src="{% static 'svg/orange-arrow.svg' %}" alt=""></a>
                    </div>                 
                </div>
                {% endfor %}

                

                
            </div>

            <hr>
        </div>
    </section>


    <footer>
        <div class="my-container">
            <div class="footer-content">
                <div class="copyright">
                    © {% trans "Başak Group 2022. Bütün haqqları qorunur" %}
                </div>

                <div class="socials">
                   <a href="https://www.instagram.com/bashakgroup.az"><img src="{% static 'svg/instagram.svg' %}" alt=""></a> 
                   <a href="https://www.facebook.com/bashakgroup.az"><img src="{% static 'svg/facebook.svg' %}" alt=""></a> 
                   <a href="https://www.linkedin.com/company/basak-group"><img src="{% static 'svg/linkedin.svg' %}" alt=""></a> 
                </div>

                <div class="powered-by">
                   <a href=""><img src="{% static 'svg/powered-by.svg' %}" alt=""></a> 
                </div>
            </div>
        </div>
    </footer>



    



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>
   
    <script src="{% static 'js/main.js' %}"></script>

    <script>
		const body = document.querySelector(".sectors-background");
		const li = document.querySelectorAll(".card7");

		li.forEach(el => {
			el.addEventListener("mouseover", () => {
				let bg = el.getAttribute("data-bg");
				body.style.background = `url(${bg})no-repeat center /cover`;
			});
		});

    
	</script>

    <script>
        $(document).ready(function () {
            c = $("input[name='csrfmiddlewaretoken']").val();
    
            $(".lng").on("change", function () {
                lng = $(this).val();
                $.ajax({
                    url: "{% url 'set_language' %}",
                    method: 'POST',
                    data: {language: lng, csrfmiddlewaretoken: c},
                    success: function () {
                        location.reload();
                    },
                    error: function (e) {
                        $("body").html(e.responseText);
                    }
                })
            });
    
        });
    </script>
    
</body>
</html>

 
   

    

    



    



   